<div class="modal-header">
  <div class="row">
    <div class="col-md-12">
      <h4 class="modal-title mb-1">{{headerText}}</h4>
      <p *ngIf="!isEditMode">The field labels marked with <span class="required"></span> are required input fields</p>
    </div>
  </div>
</div>

<div class="modal-body mb-0">
  <div [formGroup]="addWeeklySamplingForm">
    <div class="form-row mb-4">
      <div class="col">
        <label class="font-size-h7  text-dark required">Date</label>
        <input class="form-control" placeholder="yyyy-mm-dd" name="dp" formControlName="samplingDate"
          placeholder="Date" [(ngModel)]="modelSampling" ngbDatepicker #d="ngbDatepicker" [minDate]="modelSampling">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
        </div>
      </div>
      <div class="col">
        <label class="font-size-h7  text-dark required">Owner</label>
        <select name="owner" id="owner" formControlName="owner" class="form-control">
          <option value=null disabled selected>Select Owner</option>
          <option *ngFor="let o of ownerList" [value]="o._id">{{o.firstName}}</option>
        </select>
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col">
        <label class="font-size-h7  text-dark required">Farm</label>
        <select name="farm" id="farm" formControlName="farmId" class="form-control">
          <option value=null disabled selected>Select Farm</option>
          <option *ngFor="let f of farmList" [value]="f._id">{{f.farmName}}</option>
        </select>
      </div>
      <div class="col">
        <label class="font-size-h7  text-dark required">Pond</label>
        <select name="farm" id="farm" formControlName="pondId" class="form-control">
          <option value=null disabled selected>Select Pond</option>
          <option *ngFor="let pond of pondList" [value]="pond._id">{{pond.pondCount}}</option>
        </select>
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col">
        <label class="font-size-h7  text-dark required">Date of Culture</label>
        <input type="text" class="form-control" placeholder="Date of Culture" formControlName="dateOfCulture">
      </div>
      <div class="col">
        <label class="font-size-h7  text-dark required">Total Weight</label>
        <input type="text" class="form-control" placeholder="Total Weight" formControlName="totalWeight">
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col">
        <label class="font-size-h7  text-dark required">Total Shrimp</label>
        <input type="text" class="form-control" placeholder="Total Shrimp" formControlName="totalShrimp">
      </div>
      <div class="col">
        <label class="font-size-h7  text-dark required">Average Body Weight</label>
        <input type="text" class="form-control" placeholder="Average Body Weight" formControlName="averageBodyWeight">
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col">
        <label class="font-size-h7  text-dark">Previous AWB</label>
        <input type="text" class="form-control" placeholder="Previous AWB" formControlName="previousAwb">
      </div>
      <div class="col">
        <label class="font-size-h7  text-dark">Gain in Weight</label>
        <input type="text" class="form-control" placeholder="Gain in Weight" formControlName="gainInWeight">
      </div>
    </div>
    <div class="form-row mb-4">
      <div class="col">
        <label class="font-size-h7  text-dark required">Expected Survival Percentage</label>
        <input type="text" class="form-control" placeholder="Expected Survival Percentage" formControlName="expectedSurvivalPercentage">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
  <button type="button" class="btn btn-primary" [disabled]="addWeeklySamplingForm.invalid"
    (click)="saveWeeklySampling()">{{saveButtonText}}</button>
</div>