<div class="modal-header">
    <div class="row">
        <div class="col-md-12">
            <h4 class="modal-title mb-1">{{headerText}}</h4>
            <p *ngIf="!isEditMode">The field labels marked with <span class="required"></span> are required input fields
            </p>
        </div>
    </div>
</div>

<div class="modal-body mb-0">
    <div [formGroup]="addPercentageFeedingForm">
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark required">Club Member</label>
                <input type="text" class="form-control" formControlName="clubMember">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark required">Farm</label>
                <input type="text" class="form-control" formControlName="farm">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">Pond</label>
                <input type="text" class="form-control mb-4" formControlName="pond">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark required">Average Body Weight</label>
                <input type="text" class="form-control" placeholder="Average Body Weight" formControlName="averageBodyWeight">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark required">Feed Percentage</label>
                <input type="text" class="form-control" placeholder="Feed Percentage" formControlName="feedPercentage">
            </div>
            <div class="col">
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" [disabled]="addPercentageFeedingForm.invalid"
        (click)="savePercentageFeeding()">{{saveButtonText}}</button>
</div>