
<div class="modal-content">
    <div class="modal-header">			
        <h4 class="modal-title">Reset Password</h4>	
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="closeResetPassword()">×</button>
    </div>
    <div class="modal-body">
        <form [formGroup] = "passwordResetForm">
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark required">Email</label>
                <input type="text" class="form-control" name="username" placeholder="Email" formControlName="email">		
            </div>
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark required">New Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">	
            </div>   
            <div class="form-group">
                <label class="font-size-h6 font-weight-bolder text-dark required">Re-Enter Password</label>
                <input type="password" class="form-control" name="reEnterPassword" placeholder="Re-Enter Password" formControlName="reEnterPassword">	
            </div>        
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block login-btn" [disabled]="passwordResetForm.invalid" (click)="resetPassword()">Reset Password</button>
            </div>
        </form>
    </div>
</div>