<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">User Management</h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-primary">Create New User</a>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" name="status" placeholder="Filter by Status">
                                <option value="">All</option>
                                <option value="1">Selling</option>
                                <option value="2">Sold</option>
                            </select><small class="form-text text-muted"><b>Filter</b> by Status</small>
                        </div>
                        <div class="col-lg-6">
                            <select class="form-control" placeholder="Filter by Contition" name="condition">
                                <option value="">All</option>
                                <option value="1">New</option>
                                <option value="2">Used</option>
                            </select><small class="form-text text-muted"><b>Filter</b> by Condition</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" name="searchText" placeholder="Search" value="" /><small
                        class="form-text text-muted"><b>Search</b> in all fields</small>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-start">
                    <!-- begin: Grouping -->
                    <div>
                        <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-2">
                            <i class="fa fa-trash"></i>
                            <span>Delete All</span>
                        </button>
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2">
                            <i class="fa fa-stream"></i>
                            <span>Fetch Selected</span>
                        </button>
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm">
                            <i class="fa fa-sync-alt"></i>
                            <span>Update Status</span>
                        </button>
                        <div class="form-label form-label-no-wrap">
                            <label class="font-bold font-danger"><span>Selected records count:
                                    <b>100</b></span></label>
                        </div>
                    </div>
                    <!-- end: Grouping -->
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single"><input type="checkbox" /><span></span></label>
                    </th>
                    <th> VIN CODE (ID) </th>
                    <th> MANUFACTURE </th>
                    <th> MODEL </th>
                    <th> YEAR </th>
                    <th> COLOR </th>
                    <th> PRICE </th>
                    <th> STATUS </th>
                    <th> CONDITION </th>
                    <th>ACTIONS</th>
                </thead>
                <tbody>
                    <tr *ngFor="let sample of sampleDataSet">
                        <td class="selection-cell">
                            <label class="checkbox checkbox-single"><input type="checkbox" />
                                <span></span>
                            </label>
                        </td>
                        <td>{{ sample.VINCode }}</td>
                        <td>{{ sample.manufacture }}</td>
                        <td>{{ sample.model }}</td>
                        <td>{{ sample.modelYear }}</td>
                        <td>
                            <span [style.color]="sample.color">{{ sample.color }}</span>
                        </td>
                        <td>$ {{ sample.price }}</td>
                        <td>
                            <span class="label label-lg label-inline" [class.label-light-success]="sample.status === 1"
                                [class.label-light-primary]="sample.status === 2">
                                <ng-container *ngIf="sample.status === 1">Selling</ng-container>
                                <ng-container *ngIf="sample.status === 2">Sold</ng-container>
                            </span>
                        </td>
                        <td>
                            <ng-container *ngIf="sample.condition === 1">NEW</ng-container>
                            <ng-container *ngIf="sample.condition === 2">USED</ng-container>
                        </td>
                        <td class="d-flex justify-content-start">
                            <a title="Edit sample" class="btn btn-icon btn-light btn-hover-primary btn-sm">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                </span>
                            </a>
                            <a title="Delete item" class="btn btn-icon btn-light btn-hover-danger btn-sm ml-2">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                                    class="svg-icon svg-icon-md svg-icon-danger">
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>