<div class="card card-custom">
    <div class="card-header">
        <div class="card-title">
            <h3 class="card-label">User Management</h3>
        </div>
        <div class="card-toolbar">
            <a type="button" class="btn btn-primary" (click)="addNewUser()"><i class="fa fa-plus" aria-hidden="true"></i> Add User</a>
        </div>
    </div>
    <div class="card-body">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
            <div class="form-group row">
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <select class="form-control" placeholder="Filter by Contition" name="condition">
                                <option value="">All</option>
                                <option value="1">A</option>
                                <option value="2">B</option>
                            </select><small class="form-text text-muted"><b>Records</b> per page</small>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <input type="text" class="form-control" name="searchText" placeholder="Search" value="" /><small
                        class="form-text text-muted"><b>Search</b></small>
                </div>
                <div class="col-lg-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-start">
                    <!-- begin: Grouping -->
                    <div>
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2" (click)="exportUserList(1)">
                            <i class="fa fa-stream"></i>
                            <span>PDF</span>
                        </button>
                        <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2" (click)="exportUserList(2)">
                            <i class="fa fa-sync-alt"></i>
                            <span>CSV</span>
                        </button>
                        <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-2">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            <span>Delete</span>
                        </button>
                        <div class="form-label form-label-no-wrap">
                            <label class="font-bold font-danger"><span>Selected records count:
                                    <b>100</b></span></label>
                        </div>
                    </div>
                    <!-- end: Grouping -->
                </div>
            </div>
        </div>
        <!-- end: Filtration form -->

        <!-- begin:Table -->
        <div class="table-responsive angular-bootstrap-table">
            <table class="table table-head-custom table-vertical-center overflow-hidden">
                <thead>
                    <th class="selection-cell-header" data-row-selection="true">
                        <label class="checkbox checkbox-single"><input type="checkbox" /><span></span></label>
                    </th>
                    <th> Username </th>
                    <th> Role </th>
                    <th> Phone Number </th>
                    <th> Email </th>
                    <th> Status </th>
                    <th> Action </th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userList">
                        <td class="selection-cell">
                            <label class="checkbox checkbox-single"><input type="checkbox" />
                                <span></span>
                            </label>
                        </td>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.userName }}</td>
                        <td>{{ user.contact }}</td>
                        <td>{{ user.userEmail }}</td>
                        <td>
                            <span [ngClass]="user.isActive ? 'active' : 'inactive'"></span>
                        </td>
                        <td class="d-flex justify-content-start">
                            <a title="Edit user" class="btn btn-icon btn-light btn-hover-primary btn-sm" (click)="editUser($event)">
                                <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                                    class="svg-icon svg-icon-md svg-icon-primary">
                                </span>
                            </a>
                            <a title="Delete item" class="btn btn-icon btn-light btn-hover-danger btn-sm ml-2" (click)="deleteUser($event)">
                                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                                    class="svg-icon svg-icon-md svg-icon-danger">
                                </span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>