<form class="text-center border border-light p-5">
    <p class="h4 mb-4 text-primary ">Register User</p>
    
    <div [formGroup]="registerForm">
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">First Name</label>
                <input type="text" class="form-control" placeholder="First name" formControlName="firstName">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark">Middle Name</label>
                <input type="text" class="form-control" placeholder="Middle name" formControlName="middleName">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">Last Name</label>
                <input type="text" class="form-control" placeholder="Last name" formControlName="lastName">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark">Contact</label>
                <input type="text" class="form-control" placeholder="Contact" formControlName="contact">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">NIC</label>
                <input type="text" class="form-control" placeholder="Nic" formControlName="nic">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark">Address</label>
                <input type="text" class="form-control" placeholder="Address" formControlName="userAddress">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">Passport ID</label>
                <input type="text" class="form-control" placeholder="Passport ID" formControlName="passpordId">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark">Email Address</label>
                <input type="email" class="form-control mb-4" placeholder="E-mail" formControlName="userEmail">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">User Name</label>
                <input type="text" class="form-control mb-4" placeholder="User Name" formControlName="userName">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark">Password</label>
                <input type="password" class="form-control mb-4" placeholder="Password" formControlName="password">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">Re-Enter Password</label>
                <input type="password" class="form-control mb-4" placeholder="Re-enter Password" formControlName="rePassword" >
            </div>
            <div class="col">
                <button type="button" [disabled]="registerForm.invalid"  (click)="registerUser()"
                class="btn btn-primary  font-size-h7 px-8 py-4 my-3 mr-3">
                Sign Up
            </button>
            </div>
        </div>
    </div>
</form>