
<div class="card card-custom">
  <div class="card-header">
      <div class="card-title">
          <h3 class="card-label">Stock Management</h3>
      </div>
      <div class="card-toolbar">
          <a type="button" class="btn btn-primary" (click)="addNewStock()"><i class="fa fa-plus" aria-hidden="true"></i> Add Stocking</a>
          <a type="button" class="btn btn-success m-1" (click)="importStock()"><i class="fa fa-files-o" aria-hidden="true"></i> Import Stocking</a>
      </div>
  </div>
  <div class="card-body">
      <!-- begin: Filtration form -->
      <div class="form form-label-right">
          <div class="form-group row">
              <div class="col-lg-6">
                  <div class="col-lg-5">
                      <input type="text" class="form-control" name="searchText" placeholder="Search"
                          [(ngModel)]="filterParam" /><small class="form-text text-muted"><b>Search</b></small>
                  </div>
              </div>
              <div class="col-lg-6 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-start">
                  <!-- begin: Grouping -->
                  <div>
                      <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2" (click)="exportStockList(exportTypes.PDF)">
                          <i class="fa fa-file-text"></i>
                          <span>PDF</span>
                      </button>
                      <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-2" (click)="exportStockList(exportTypes.CSV)">
                          <i class="fa fa-table"></i>
                          <span>CSV</span>
                      </button>
                  </div>
                  <!-- end: Grouping -->
              </div>
          </div>
      </div>
      <!-- end: Filtration form -->

      <!-- begin:Table -->
      <div class="table-responsive angular-bootstrap-table">
          <table class="table table-head-custom table-vertical-center overflow-hidden">
              <thead>
                  <th class="selection-cell-header" data-row-selection="true">
                      <label class="checkbox checkbox-single"><input type="checkbox" /><span></span></label>
                  </th>
                  <th> Owner</th>
                  <th> Farm </th>
                  <th> Pond </th>
                  <th> No of PL's </th>
                  <th> PL age </th>
                  <th> Date of stocking </th>
                  <th> Full stocked </th>
                  <th> PL price </th>
                  <th> Actual PL's Remain </th>
                  <th> Action </th>
              </thead>
              <tbody>
                  <tr *ngFor="let stock of (stockList | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize) | filter:filterParam;let i = index">
                      <td class="selection-cell">
                          <label class="checkbox checkbox-single"><input type="checkbox" />
                              <span></span>
                          </label>
                      </td>
                      <td>{{ stock?.owner }}</td>
                      <td>{{ stock?.farmId }}</td>
                      <td>{{ stock?.pondId }}</td>
                      <td>{{ stock?.plCount }}</td>
                      <td>{{ stock?.plAge }}</td>
                      <td>{{ stock?.dateOfStocking | date: 'yyyy-MM-dd' }}</td>
                      <td>{{ stock?.fullStocked }}</td>
                      <td>{{ stock?.plPrice }}</td>
                      <td>{{ stock?.actualPlRemains }}</td>
                     
                     <td>
                          <a title="Edit Role" class="btn btn-icon btn-light btn-hover-primary btn-sm" (click)="updateStock(stock)">
                              <span [inlineSVG]="'./assets/media/svg/icons/Communication/Write.svg'"
                                  class="svg-icon svg-icon-md svg-icon-primary">
                              </span>
                          </a>
                          <a title="Delete item" class="btn btn-icon btn-light btn-hover-danger btn-sm ml-2" (click)="deleteStock(stock._id)">
                              <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                                  class="svg-icon svg-icon-md svg-icon-danger">
                              </span>
                          </a>
                      </td>
                  </tr>
              </tbody>
          </table>
          <ngb-pagination
          [collectionSize]="stockList && stockList.length ? stockList.length: 0"
          [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true">
      </ngb-pagination>
      </div>
  </div>
</div>