<div class="text-center border border-light p-5">
    <p class="h4 mb-4 text-primary ">Add Pond</p>
    <p>The field labels marked with * are required input fields</p>
    <div [formGroup]="addFeedBrandForm">
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark required">Name of the Brand</label>
                <input type="text" class="form-control" placeholder="Pond Number" formControlName="brandName">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark required">Grades</label>
                <input type="text" class="form-control" placeholder="Area of the pond" formControlName="grade">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark required">Shrimp Weight/Doc</label>
                <input type="text" class="form-control" placeholder="Grade of the pond" formControlName="weight">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark required">Price/Kg</label>
                <input type="text" class="form-control" placeholder="Fixed cost per Kg" formControlName="price">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <button type="button" [disabled]="addFeedBrandForm.invalid" (click)="saveFeedBrand()"
                class="btn btn-primary  font-size-h7 px-8 py-4 my-3 mr-3">
                Submit
            </button>
            </div>
        </div>
    </div>
</div>
