<div class="wrapper">
    <app-side-navigation [open]="true" [mode]="navigationModes.side" #navigationRef>
        <app-navigation-header (sideButton)="navigationRef.toggle()"></app-navigation-header>
        <app-navigation-menu-item></app-navigation-menu-item>
    </app-side-navigation>
    <main>
        <app-navigation-content [sideNavigation]="navigationRef">
            <div class="app-content">
                <div class="app-content--toolbar">
                    <button class="btn p-0 burger-icon ml-4" id="kt_header_mobile_toggle" (click)="navigationRef.toggle()">
                        <span></span>
                    </button>
                    <h1>Tool bar goes here</h1>
                </div>
                <div class="app-content--sub-section">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </app-navigation-content>
    </main>
</div>