<div class="p-5">
    <p class="h4 mb-4 text-primary pull-right">Add User</p>
    <p>The field labels marked with <span class="required"></span> are required input fields</p>
    <div [formGroup]="addUserForm">
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark required">User Name</label>
                <input type="text" class="form-control" placeholder="User Name" formControlName="userName">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark required">Password</label>
                <input type="password" class="form-control mb-4" placeholder="Password" formControlName="password" >
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">Role</label>
                <input type="text" class="form-control mb-4" placeholder="User Role" formControlName="role">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark required">Phone Number</label>
                <input type="text" class="form-control" placeholder="Phone Number" formControlName="phoneNumber">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark required">Email</label>
                <input type="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="isActive" formControlName="isActive">
                    <label class="form-check-label" for="active">Active</label>
                  </div>
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <button type="button" [disabled]="addUserForm.invalid"  (click)="addUser()"
                class="btn btn-primary  font-size-h7 px-8 py-4 my-3 mr-3">
                Submit
            </button>
            </div>
        </div>
    </div>
</div>
