<div class="text-center border border-light p-5">
    <p class="h4 mb-4 text-primary ">Add Application</p>
    <p>The field labels marked with * are required input fields</p>
    <div [formGroup]="addApplicationForm">
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark required">Type of Application</label>
                <input type="text" class="form-control" placeholder="Application Type" formControlName="type">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark required">Name</label>
                <input type="text" class="form-control" placeholder="Name" formControlName="name">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <label class="font-size-h7  text-dark">Unit (Kg / Liters)</label>
                <input type="text" class="form-control" placeholder="Unit" formControlName="unit">
            </div>
            <div class="col">
                <label class="font-size-h7  text-dark">Cost per unit</label>
                <input type="text" class="form-control" placeholder="Cost per unit" formControlName="cost">
            </div>
        </div>
        <div class="form-row mb-4">
            <div class="col">
                <button type="button" [disabled]="addApplicationForm.invalid"  (click)="saveApplication()"
                class="btn btn-primary  font-size-h7 px-8 py-4 my-3 mr-3">
                Submit
            </button>
            </div>
        </div>
    </div>
</div>
